*{
	background-color:#EFE1A1;
}



footer{
	
            width: 100%;
            bottom: 0;
            background-color:#FEC171;
            position: fixed;
            padding:0px;
            margin:0px;
}
/*
@media (min-width: 858px) {
    html {
        font-size: 22px;
    }
}

@media (min-width: 780px) {
    html {
        font-size: 21px;
    }
}

@media (min-width: 702px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 724px) {
    html {
        font-size: 19px;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 18px;
    }
}
*/
